footer{
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: #dddedf;    
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: black;
    font-family:'Noto Sans', sans-serif;
}
i{
    font-size: 20px;
    color: black;
}
@media (min-width:300px) and (max-width:720px) {
    footer{
        font-size: 0.9rem;
    }
}