header{  
   background-color:  #EEF1F6;
}
.logo img{
    width: 300px;
    cursor: pointer;  
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
    
}
.navbar{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.navbarItems a{
    text-decoration: none;
    font-family:'Noto Sans', sans-serif;
    color:black;
    font-weight: bold;
    font-size: 18px;
}
.navbarItems i{
    color:black;  
    cursor: pointer;  
}
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}
@media (min-width:300px) and (max-width:720px) {
    header {
        height: 60px;
    }
    .logo img{
        width: 220px;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #EEF1F6;
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 20px 0;
    
        height: calc(100% - 60px);
        overflow-y: auto;
    
        left: 100%;
        transition: left 0.3s;
    }
    .navbarItems{
        line-height: 70px;
    }
    .nav-toggle {
        display: block;
    }
    #btn{
    color: rgb(25, 23, 23);
        font-size: 20px;
    }
    .navbar_visible{
        left: 0;
    }
    .nav-togglefocus:not(:focus-visible) {
        outline: none;
    }
}
/*
.search{
    position: relative;
}
